.page-description{

margin-bottom:25px;

color:#9ca3af;

}

.toolbar{

display:flex;

gap:15px;

margin-bottom:25px;

}

.toolbar input,

.toolbar select{

padding:12px 15px;

border-radius:10px;

border:1px solid #303036;

background:#1f1f23;

color:white;

}

.episode-table{

background:#1f1f23;

border-radius:18px;

overflow:hidden;

border:1px solid #303036;

}

.episode-header,

.episode-row{

display:grid;

grid-template-columns:

120px

1.8fr

130px

140px

130px

100px;

align-items:center;

}

.episode-header{

background:#292932;

font-weight:bold;

}

.episode-header div,

.episode-row div{

padding:16px;

}

.episode-row{

border-top:1px solid #303036;

}

.episode-row:hover{

background:#26262d;

}

.status{

padding:6px 12px;

border-radius:20px;

font-size:12px;

display:inline-block;

text-align:center;

}

.idea{

background:#52525b;

}

.recording{

background:#2563eb;

}

.editing{

background:#d97706;

}

.review{

background:#9333ea;

}

.published{

background:#16a34a;

}

.open-btn{

padding:8px 15px;

background:#e11d48;

color:white;

border-radius:8px;

text-decoration:none;

}
