.rank-table{

background:#1f1f23;

border:1px solid #303036;

border-radius:18px;

overflow:hidden;

}

.rank-header,
.rank-row{

display:grid;

grid-template-columns:
90px
2fr
160px
160px
140px;

align-items:center;

}

.rank-header{

background:#292932;

font-weight:bold;

}

.rank-header div,
.rank-row div{

padding:18px;

}

.rank-row{

border-top:1px solid #303036;

transition:.25s;

}

.rank-row:hover{

background:#2b2b33;

}

.rank{

font-size:26px;

font-weight:bold;

}

.gold{

color:#facc15;

}

.silver{

color:#d1d5db;

}

.bronze{

color:#fb923c;

}

.score{

font-size:22px;

font-weight:bold;

color:#22c55e;

}
